/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "reveal.js/css/theme/template/mixins";
@import "reveal.js/css/theme/template/settings";
@import '~react-md/src/scss/react-md';

// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #F5F5F5;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Roboto', sans-serif;
$headingFont: 'Roboto', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 200;
$linkColor: $md-blue-500;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


section {
	header {
		text-align: left;

		& > h1, & > h2{
			margin: 0!important;
			padding: 0!important;
			display: table;
			clear: both;
		}

		& > h1{
			border-bottom: 10px solid $md-blue-500!important;
		}
    	& > h2{
			margin-top: -10px!important;
        	border-top: 10px solid $md-blue-500!important;
			padding: 20px 0!important;
    	}
	}
}


// Theme template ------------------------------
@import "reveal.js/css/theme/template/theme";
// ---------------------------------------------
